html, body {
  height: 100%;
  margin: 0;
  background: #fff;
}

div#svg-container {
  height: 70px;
  width: 100%;
  margin: 30px 0px;
}

div#svg-tip {
  display: none;
  position: fixed;
  background: rgb(0, 0, 0) none repeat scroll 0% 0%;
  color: rgb(170, 170, 170);
  margin: 6px;
  padding: 6px;
  border-radius: 3px;
}

div#svg-tip ul, .results ul {
  padding-left: 5px;
}

div#svg-tip li, .results ul li {
  list-style-type: none;
}

span.colour-box {
  height: 15px;
  width: 24px;
  display: inline-block;
  margin-right: 7px;
  border-radius: 2px;
}

div.image img {
  width: 300px;
  display: block;
  overflow: hidden;
}

.results .changes button {
  margin: 8px;
}

.results .title {
  font-size: 24px;
  font-weight: 200;
  margin: 8px 0px;
}

.results .subtitle {
  font-size: 18px;
  font-weight: 300;
  margin: 16px 0 8px 0px;  
}

.results ul.changes li{
  padding: 0 0 0 24px;
  font-weight: 300;
}

.filters label {
  font-weight: 500;
}

