html, body {
  height: 100%;
  margin: 0;
  background: #fff;
}

div#svg-container {
  height: 70px;
  width: 100%;
  margin-top: 30px;
}

div#svg-tip {
  display: none;
  position: fixed;
  background: rgb(0, 0, 0) none repeat scroll 0% 0%;
  color: rgb(170, 170, 170);
  margin: 6px;
  padding: 6px;
  border-radius: 3px;
}

div#svg-tip ul, .results .changes ul {
  padding-left: 5px;
}

div#svg-tip li, .results .changes ul li {
  list-style-type: none;
}

span.colour-box {
  height: 15px;
  width: 24px;
  display: inline-block;
  margin-right: 7px;
  border-radius: 2px;
}

div.image img {
  width: 300px;
  display: block;
  overflow: hidden;
}

.results .changes button {
  margin: 8px;
}

.results .title {
  font-weight: bold;
}
